/* media query mixins */

// phone only media query
@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

// tablet potrait media query
@mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

// tablet landscape media query
@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

// desktop media query
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

// large desktop media query
@mixin large-desktop {
  @media (min-width: 1800px) {
    @content;
  }
}

// flex mixins

@mixin displayFlex($value) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}
