$primaryBlue: #0171bb;
$darkBlue: #141726;
$yellowColor: #fcd44e;
$orangeColor: #f5911f;

.text-blue {
  color: $primaryBlue;
}
.bg-blue {
  background: $primaryBlue;
}
.bg-yellow {
  background: $yellowColor;
}

.bg-dark-blue {
  background: $darkBlue;
}
