.custom-header {
  padding: 1em 0em;
  background: $yellowColor;
  position: fixed;
  width: 100%;
  top: -50px;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.custom-header.scrolled {
  top: 0;
  opacity: 1;
}

.custom-navbar {
  @include desktop {
    @include displayFlex(space-between);
  }
  &__brand {
    @include displayFlex(space-between);
    .nav-logo {
      width: 50px;
      img {
        cursor: pointer;
        width: 100%;
      }
    }
    .nav-buttons {
      @include desktop {
        display: none;
      }

      button {
        i {
          color: $primaryBlue;
          font-size: 1.6rem;
        }
      }
    }
  }

  &__list {
    display: none;
    @include desktop {
      display: block;
      .nav-items {
        width: 100%;
        @include displayFlex(flex-start);

        .nav-item {
          margin-right: 10px;
        }
      }
    }
  }
}

.nav-items {
  @include desktop {
    margin-top: 10px;
  }
  .nav-item {
    &__link {
      color: black;
      &:hover {
        color: $primaryBlue;
      }
    }
  }
  .nav-item-search {
    button {
      color: white;
      font-size: 1.3rem;
    }
  }
}

.navbar-box {
  display: none;
  width: 100px;
  transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  top: 10px;
  left: 30px;
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 9;

  @include desktop {
    display: block;

    width: 150px;
  }

  &__logo {
    width: 100%;
    img {
      height: auto;
      max-width: 100%;
    }
  }
  &__btn {
    padding-top: 10px;
    text-align: center;
    height: 50px;
    background: $yellowColor;
    transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    p,
    button {
      margin: 0;
    }
    button {
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);

      transform: translateY(-10px);

      i {
        display: block;
        padding: 7px 2px 2px 2px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $yellowColor;
        margin: 0 auto;
        font-size: 1.2rem;
      }
    }

    &.show-menu {
      height: 350px;
    }
  }
}

.navbar-box.unscrolled {
  top: 20px;
  opacity: 0.7;
  display: none;

  @include desktop {
    display: block;
    opacity: 1;
  }
}
